body {
  font-family: Arial, Helvetica, sans-serif; 
}   
.table-container {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.table-container h1 {
  margin: 35px 25px 10px 0;
  text-align: right;
}

/* table, th, td {
  border: 1px solid #515151;
} */

table {
  background-color: #eee;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

table .head {
  position: relative;
  border-bottom: 1px solid #757575;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}
table .head th {
   font-size: 1rem;
	 font-weight: normal;
	 text-align: center;
	 color: #000;
}

table th {
    display: table-cell;
}
table th, td {
  padding: 1rem;
  border-bottom: 1px solid #a1a1a1;
}
table tbody {
		 display: table-row-group;
}

table tbody td {
    text-align: right;
    text-align: center;
    font-size: 1rem;
}

table tbody td[type=currency], td[type=date] {
     text-align: right;
}

table tbody td[type=currency]:before {
    content: "$";
  }

  table a {
    font-size: 1rem;
  }
  
.table-button {
    cursor: pointer;
    padding: 5px 10px;
    float: left;
    color: #fff;
    background-color: #40528f;
    border-radius: 5px;
    text-decoration: none;
  }

  .table-button:hover {
    background-color: gray;
    transition: 0.3s;
  }
  
  .alert {
    position: relative;
    top: 2%;
    padding: 30px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }
  
  .alert.success {background-color: #04AA6D;}