<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <link th:href="@{/form-stylesheet.css}" rel="stylesheet"> 
    </head>    
    <body>
        <div class="topnav">
            <a class="active">Form</a>
            <a th:href="@{/inventory}">Inventory</a>
        </div>
        <div class="container">    
            <h1>Cap'n Joseph's</h1>
            <h3>Ol' Thyme Country Superstore (Admin)</h3>
            <p class="sub-text">Enter new inventory item ye g'dut!</p>
            <div class="form-container">
                <!--Retrieves item object and binds it to form-->
                <form method="post" th:object="${item}" th:action="@{/submitItem}"> 
                    <select class="select" th:field="*{category}">
                        <option style="color:blue" value="">Choose Category</option>
                        <!-- Loops through Constants.java categories array -->
                        <option th:each="category: ${categories}" th:text="${category}"th:value="${category}"></option>
                    </select>
                    <input type="text" placeholder="Name" th:field="*{name}">
                    <input class="half" type="text" placeholder="Price" th:field="*{price}">
                    <input class="half" type="text" placeholder="Discount" th:field="*{discount}">
                    <input class="half" type="number" placeholder="Qty" th:field="*{qty}">
                    <h4>Order Date</h4>
                    <input type="date" style="color:#3a3a3a" th:field="*{date}">
                    <input type="submit" value="Submit Item">
                </form>
            </div>
        </div>      
    </body>
</html>
